<span class="scrn-lg">
    <mat-toolbar class="lg-toolbar">
        <div class="row">
            <div class="col mx-auto bar-item">
                <fa-icon [icon]="faBolt"></fa-icon><br>
                <p class="bar-text">Blazing fast, simple, and easy</p>
            </div>
            <div class="col mx-auto bar-item">
                <fa-icon [icon]="faCode"></fa-icon><br>
                <p class="bar-text">Free and Open Source</p>
            </div>
            <div class="col mx-auto bar-item">
                <fa-icon [icon]="faPuzzlePiece"></fa-icon><br>
                <p class="bar-text">Additional Plugins and Extensions</p>
            </div>
            <div class="col mx-auto bar-item">
                <fa-icon [icon]="faMobileAlt"></fa-icon><br>
                <p class="bar-text">Android and iPhone Compatible</p>
            </div>
        </div>
    </mat-toolbar>
</span>

<span class="scrn-sm">
    <mat-toolbar>
        <mat-toolbar-row class="mobile-toolbar-row">
            <div class="col mx-auto bar-item-mobile">
                <p class="bar-text"><fa-icon class="icon-md" [icon]="faBolt"></fa-icon>Blazing fast, simple, and easy</p>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row class="mobile-toolbar-row">
            <div class="col mx-auto bar-item-mobile">
                <p class="bar-text"><fa-icon class="icon-md" [icon]="faCode"></fa-icon>Free and Open Source</p>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row class="mobile-toolbar-row">
            <div class="col mx-auto bar-item-mobile">
                <p class="bar-text"><fa-icon class="icon-md" [icon]="faPuzzlePiece"></fa-icon>Additional Plugins and Extensions</p>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row class="mobile-toolbar-row">
            <div class="col mx-auto bar-item-mobile">
                <p class="bar-text"><fa-icon class="icon-md" [icon]="faMobileAlt"></fa-icon>Android and iPhone Compatible</p>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</span>