<div class="row align-items-center mb-4 ta-center">
    <div class="col first-col align-items-right">
        <div class="center-stuff">
            <h1 class="title-text">VueTube</h1>
            <br>
            <h5 class="subtext">Video client for multiple platforms, coded in Vue.js</h5>
            <!-- these should be ddl to the latest apk/ipa-->
            <br><p class="subtext" style="font-size: 0.8em!important">Stable downloads not currently available.<br>Join the Discord for further information</p>
            <a disabled mat-raised-button color="primary" class="download-button" href="https://discord.gg/He5pJjGWkh" target="_blank"><mat-icon>android</mat-icon> Android Download</a><br>
            <a disabled mat-raised-button color="primary" class="download-button" href="https://discord.gg/Td8peD8Ahu" target="_blank"><mat-icon>apple</mat-icon> iOS Download</a>
        </div>
    </div>
    <div class="col hide-if-small">
        <img class="center-img dark-preview" src="assets/smartphone-image-dark.png" alt="Mobile Phone">
        <img class="center-img light-preview" src="assets/smartphone-image-light.png" alt="Mobile Phone">
    </div>
</div>