<div class="ta-center mb-5">
    <h1 class="title-text mt-4">Getting Started with VueTube</h1>
    <p>VueTube is still in early development.<br>Features may not be final.</p>
    
    <a mat-raised-button color="accent" class="bottom-button" href="https://github.com/Frontesque/VueTube/releases" target="_blank"><mat-icon>download</mat-icon> Download Stable</a>
    <a mat-raised-button color="accent" class="bottom-button" href="https://github.com/Frontesque/VueTube/actions" target="_blank"><mat-icon>developer_mode</mat-icon> Download Beta</a>
    <a mat-raised-button color="accent" class="bottom-button" href="https://github.com/Frontesque/VueTube/releases" target="_blank"><mat-icon>replay</mat-icon> Older Releases</a>
</div>

<app-footer></app-footer>