
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vuetube-primary: mat.define-palette(mat.$teal-palette);
$vuetube-accent: mat.define-palette(mat.$deep-orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$vuetube-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$vuetube-theme: mat.define-dark-theme((
  color: (
    primary: $vuetube-primary,
    accent: $vuetube-accent,
    warn: $vuetube-warn
  )
));
$vuetube-light-theme: mat.define-light-theme((
  color: (
    primary: $vuetube-primary,
    accent: $vuetube-accent,
    warn: $vuetube-warn
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($vuetube-theme);

.light-theme { 
  @include mat.all-component-themes($vuetube-light-theme);
}

body { overflow-x: hidden; max-width: 100%; }


// config for light/dark colour
body.light-theme {
  mat-toolbar { 
    background-color: #13837a !important; 
  }
  a, a:hover { color: white; }
  .mat-button-wrapper, .bar-item { color: white; }
}

body {
  mat-toolbar { 
    background-color: #212121 !important;
  }
  a, a:hover { color: white; }
}