<div class="faq-container">
    <h1>FAQs</h1>
    <p>Frequently Asked Questions about VueTube</p>
    
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>1. Will VueTube have the same features as Vanced?</mat-panel-title>
            </mat-expansion-panel-header>
            Yes, it will have all features from Vanced such as AdBlocking, RYD Integration, SponsorBlock and even more features like Privacy Protection. We are also planning on adding Twitch support to this app as well in the later future. 
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>2. Why is VueTube app not working?</mat-panel-title>
            </mat-expansion-panel-header>
            This project is still in very early development but we will announce to everyone when it's ready to be used. 
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>3. When will VueTube start working?</mat-panel-title>
            </mat-expansion-panel-header>
            As per what Front said a while ago, it will start to be usable with most basic YouTube features in the coming weeks. The entire app will probably be finished in about a month or two. 
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>4. Where can I download the latest builds</mat-panel-title>
            </mat-expansion-panel-header>
            You can download the latest builds from either #apks (Android) and #ipas (iOS) in the Discord server. <br>
            The latest unstable builds are built via Github Actions 
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>5. Is VueTube open source?</mat-panel-title>
            </mat-expansion-panel-header>
            Yes, the full source is available on the Github repository. 
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>6. Will VueTube have the same UI as YouTube?</mat-panel-title>
            </mat-expansion-panel-header>
            Yes, it will have a similar UI to YouTube but also there will be lots of customization options to modify the UI to your likings. 
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>7. Can VueTube be taken down by Google?</mat-panel-title>
            </mat-expansion-panel-header>
            Not sure if I can say the reason on why it might be taken down but we will add a feature to prevent Google from taking it down. 
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>8. Will I be able to log in to get recommendations/subscriptions?</mat-panel-title>
            </mat-expansion-panel-header>
            The goal is to get login working, though whether this is through Micro-G or another way remains to be seen.
        </mat-expansion-panel>
    </mat-accordion>
</div>

<app-footer></app-footer>